p{
	font-family: Lato;
	background-color: #bbbbbb;
}

body{
	background-color: #f3f3f3;
	margin: 0% 5% 3% 5%;
	padding: 0%;
}

h1{
	color: #FFFFFF;
}

header{
	background-color: #939393;
	text-align: center;
	font-variant: small-caps;
	font-size: 150%;
	padding-bottom: 15px;
	background-image: url("Images/header-eminem.jpg");
}

footer{
	background: linear-gradient(#A3A3A3, #9a9aff);
}


.half{
	display: inline-block;
	width: 28%;
	margin: 1.5%;
	float: left;
}

/*
.whole{
	clear: both;
}*/


h2{
	background-color: #a3a3a3;
}

footer{
	clear:both;
}

.image-footer{
	width: 75px;
}


a{
	display: inline-block;
	font-weight: bold;
	padding: 4px;
}

a:hover{
	background-color: #afafaf;
}

ul{
	list-style-type: square;
}

nav a{
	width: 15%;
	display: inline-block;
	background: #FFFFFF;
	margin:0% 2%;
	border-radius: 10px;
	text-decoration: inherit;
	padding: 0.5% 2%;
}

.active{
	background: #BFBFBF;
	text-decoration: underline;
}